<template>
  <v-expansion-panels
    v-model="panelA"
    class="menu-list"
  >
    <v-expansion-panel v-for="configs in this.fullConfigs" :key="configs.id">
      <v-expansion-panel-header>{{ configs.name }}</v-expansion-panel-header>
      <v-expansion-panel-content>
        <Submenu
          :configs="configs"
          @selected="selectObject($event)"
        ></Submenu>
      </v-expansion-panel-content>
    </v-expansion-panel>
  </v-expansion-panels>
</template>
<script>
import Submenu from './Submenu/Submenu.vue'

export default {
  name: 'MenuList',
  components: {
    Submenu
  },
  data () {
    return {
      panelA: false
    }
  },
  props: [
    'fullConfigs'
  ],
  methods: {
    selectObject (obj) {
      this.$emit('selected', obj)
    },
    displayNameOfSelection (configs) {
      if (configs.type === 'color' && configs.has_category === true) {
        return configs.elements.map(element => element.shades)
          .map(shade => shade.filter(shade => shade.is_selected === true)
            .map(shade => shade.name))
          .filter(shade => shade.length > 0)
      }
      return configs.elements.filter(element => element.is_selected === true)
        .map(element => element.name)
    }
  }
}
</script>
<style>/*


#list-item {
    box-shadow: 0 0 4px rgba(0,0,0,0.2);
    -moz-box-shadow: 0 0 4px rgba(0,0,0,0.2);
    -webkit-box-shadow: 0 0 4px rgba(0,0,0,0.2);
    -o-box-shadow: 0 0 4px rgba(0,0,0,0.2)
}
*/
.menu-list {
  width: 220px;
}

.menu-list .v-expansion-panel-content__wrap {
    padding: unset;
}
.menu-list .v-expansion-panel {
    margin-bottom: 10px;
}
.menu-list .v-expansion-panel-header {
    font-weight: 600;
    font-size: 90%;
}
</style>
