<template>
   <div>
        <div class="row" v-if="shadesContentPositive" >
            <div v-for="shade in this.element.shades" :key="shade.id">
                <CreateConfig
                  :objectToLoad="shade"
                  @selected="selectObject($event)"
                  :class="{ active: element.is_selected === true }"
                ></CreateConfig>
            </div>
        </div>
        <div v-else>
            <div>
                 <div v-for="child in this.element.children"
                    :node="child"
                    :key="child.id">
                    <check-children :objectToLoad="child"></check-children>
                </div>
            </div>
        </div>
   </div>
</template>
<script>
import CreateConfig from './CreateConfig.vue'

export default {
  name: 'CheckChildren',
  props: [
    'element',
    'objectToLoad'
  ],
  components: {
    CreateConfig
  },
  computed: {
    shadesContentPositive () {
      return this.element.shades.length > 0
    }
  },
  methods: {
    selectObject (obj) {
      this.$emit('selected', obj)
    }
  }
}
</script>
