<template>
<div>
  <img
    :src="objectToLoad.image"
    @click="selectObject(objectToLoad)"
    class="img"
    clickable
    cursor-pointer
  />
  </div>
</template>
<script>
export default {
  name: 'Createconfig',
  props: [
    'objectToLoad'
  ],
  methods: {
    selectObject (obj) {
      this.$emit('selected', obj)
    }
  }
}
</script>
<style>
img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 2px;
}
img:hover {
    border: 1px solid grey;
    padding: 1px;
}
.active img {
    border: 1px solid grey;
    padding: 1px;
}
</style>
