<template>
    <div class="row submenu">
      <div v-for="element in this.configs.elements" :key="element.id">
        <!-- Case of shade categories -->
        <div
          class="row"
          v-if="hasCategoryColor"
        >
            <div>{{ element.name }}</div>
            <div>
                <CheckChildren
                  :element="element"
                  @selected="selectObject($event)"
                ></CheckChildren>
            </div>
        </div>
        <!-- Case of simple shades -->
        <div class="row scroll" v-else-if="hasSimpleShades" style="max-height: 150px;">
          <div>
            <CreateConfig
              class="col"
              :objectToLoad="element"
              :class="{ active: element.is_selected === true }"
              @selected="selectObject($event)"
            ></CreateConfig>
          </div>
        </div>
        <!-- Case of models -->
        <div v-else class="row">
          <div>
              <CreateConfig
                class="col"
                :objectToLoad="element"
                :class="{ active: element.is_selected === true }"
                @selected="selectObject($event)"
              >
              </CreateConfig>
            </div>
        </div>

      </div>
    </div>
</template>
<script>
import CheckChildren from './CheckChildren.vue'
import CreateConfig from './CreateConfig.vue'

export default {
  name: 'Submenu',
  components: {
    CheckChildren,
    CreateConfig
  },
  props: [
    'configs'
  ],
  computed: {
    hasCategoryColor () {
      return (this.configs && this.configs.type === 'color' && this.configs.has_category === true)
    },
    hasSimpleShades () {
      return (this.configs && this.configs.type === 'color' && this.configs.has_category === false)
    }
  },
  methods: {
    selectObject (obj) {
      this.$emit('selected', obj)
    }
  }
}
</script>
<style>
  .submenu {
    overflow: scroll;
    max-height: 180px;
  }

  .row {
    margin-left: 0 !important;
  }
</style>