<template>
  <v-app>
    <!--<iframe
      id="viewer"
      src="http://localhost:5500/HtmlLauncher/build/dist/test.html?id=25235"
      allowfullscreen
    ></iframe>-->
    <iframe
      id="viewer"
      src="http://localhost:5502/HtmlLauncher/build/dist/index.html"
      allowfullscreen
    ></iframe>
    <div class="container">
      <v-btn
        class="buttons"
        @click="currentTab = 'MenuList'"
      >Open the menu</v-btn>
      <v-btn
        class="buttons"
        @click="getMenuSlider"
      >Use the shade corrector</v-btn>
    </div>
    <div v-if="currentTab === 'MenuList'">
      <menu-list
        id="menu-list"
        :is="currentTab"
        :fullConfigs="fullConfigs"
        @selected="selectedObjectToLoad($event)"
      ></menu-list>
    </div>
    <div v-else>
      <menu-sliders
        id="menu-sliders"
        :is="currentTab"
        :fullConfigs="fullConfigs"
        :shadeCorrectors="shadeCorrectors"
        @sendToConfig="valueSended($event)"
      ></menu-sliders>
    </div>
  </v-app>
</template>

<script>
import MenuSliders from './components/Slider/MenuSliders'
import MenuList from './components/Menu/MenuList'
export default {
  name: 'App',

  components: {
    MenuSliders,
    MenuList
  },

  data: () => ({
    viewer: '',
    fullConfigs: [],
    shadeCorrectors: [],
    sendToConfig: '',
    currentTab: '',
    selectedObject: {}
  }),
  methods: {
    getParameterByName (name) {
      const url = window.location.href;
      const regex1 = new RegExp('[\\[\\]]', 'g')
      name = name.replace(regex1, '\\$&')
      const regex2 = new RegExp('[?&]' + name + '(=([^&#]*)|&|#|$)'),
        results = regex2.exec(url);
      if (!results) return null;
      if (!results[2]) return '';
      return decodeURIComponent(results[2].replace(/\+/g, " "))
    },
    calculateParameter () {
      let src = ''
      const id = this.getParameterByName('id')
      const ref = this.getParameterByName('ref')
      const sku = this.getParameterByName('sku')
      if (id != null && !isNaN(id)) {
        src = "http://localhost:5502/HtmlLauncher/build/dist/index.html?id=" + id
      } else if (ref != null) {
        src = "http://localhost:5502/HtmlLauncher/build/dist/index.html?ref=" + ref
      } else if (sku != null) {
        src = "http://localhost:5502/HtmlLauncher/build/dist/index.html?sku=" + sku
      } else {
        src = "http://localhost:5502/HtmlLauncher/build/dist/index.html"
      }
      return src
    },
    initializeViewer () {
      this.viewer.contentWindow.postMessage({
        type: 'init',
        showTuto: false,
        hideTuto: true,
        backgroundShade: {
          shadeTop: {
            r: 255, g: 255, b: 255
          },
          shadeDown: {
            r: 255, g: 255, b: 255
          }
        },
        stringCSSDefault: '.button-list{width:0;}'
      }, '*')
      if (window.innerHeight > window.innerWidth) {
        let vh = window.innerHeight * 0.01
        document.documentElement.style.setProperty('--vh', vh + 'px')
      } else {
        document.documentElement.style.removeProperty('--vh')
      }
    },
    getMenuSlider () {
      this.currentTab = 'MenuSliders'
      this.viewer.contentWindow.postMessage({
        type: 'getParams'
      }, '*')
    },
    listenMessages (event) {
      this.action = event.data
      if (this.action.type === 'APIFullConfig') {
        this.fullConfigs = JSON.parse(this.action.fullconfigObject)
      }
      if (this.action.type === 'getParams') {
        this.shadeCorrectors = JSON.parse(this.action.shade)
      }
    },
    valueSended (value) {
      console.log('New values collected in App.vue', value)
      this.viewer.contentWindow.postMessage({
        type: 'sendTmpExternalShade',
        tmpExternalShade: JSON.stringify(value)
      }, '*')
    },
    loadConfig (element) {
      this.viewer.contentWindow.postMessage({
        type: 'selectConfiguration',
        parameters: JSON.stringify(element)
      }, '*')
    },
    selectedObjectToLoad (obj) {
      this.selectedObject = obj
      this.loadConfig(obj)
    }
  },
  // The configurator
  mounted () {
    this.viewer = document.getElementById("viewer")
    this.viewer.setAttribute('src', this.calculateParameter())
    this.viewer.addEventListener('load', this.initializeViewer, false)
    window.addEventListener('message', this.listenMessages, false)
  }
}
</script>
<style>
* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  width: 800px;
  height: 600px;
  overflow: visible;
}

#viewer {
  width: 98vw;
  height: 100vh;
  border-style: none;
  position: absolute;
}

.container {
  display: flex;
  justify-content: space-around;
  width: 100vw !important;
}

.container .buttons {
  position: relative;
  z-index: 10000;
  width: 300px;
}

#menu-sliders {
  width: 220px;
  max-height: 200px;
  position: absolute;
  top: 14%;
  z-index: 1000;
}

@media screen and (orientation: portrait) {
  #viewer {
    height: 100vh; /* Fallback for browsers that do not support Custom Properties */
    height: calc(var(--vh, 1vh) * 100);
  }
}
</style>
