<template>
  <v-expansion-panels
    v-model="panel1"
    class="menu-sliders"
  >
    <v-expansion-panel
      v-for="(shadeCorrector, i) in this.shadeCorrectors"
      :key="i"
    >
      <v-expansion-panel-header>{{ shadeCorrector[0].name }}</v-expansion-panel-header>
      <div v-if="shadeCorrector.length > 0">

        <v-expansion-panel-content>
          <slider-items
            :shadeCorrectors="shadeCorrector[1]"
            :zone="shadeCorrector[0]"
            @sendToConfig="valueSended($event)"
          ></slider-items>
        </v-expansion-panel-content>
      </div>
    </v-expansion-panel>
  </v-expansion-panels>
</template>
<script>
import SliderItems from './SliderItems'

export default {
  name: 'MenuSliders',
  components: {
    SliderItems
  },
  props: [
    'fullConfigs',
    'shadeCorrectors'
  ],
  data () {
    return {
      panel1: false,
      sendToConfig: ''
    }
  },
  methods: {
    valueSended (value) {
      this.$emit('sendToConfig', value)
    },
    getCorrectorParams () {
      this.viewer = document.getElementById("viewer")
      this.viewer.contentWindow.postMessage({
        type: 'getParams'
      }, '*')

    }
  }
}
</script>
<style>
.menu-sliders .v-expansion-panel-content__wrap {
  padding: unset;
}
.menu-sliders .v-expansion-panel {
  margin-bottom: 10px;
}
.menu-sliders .v-expansion-panel-header {
  font-weight: 600;
}
</style>
