<template>
<div class="sliders">
    <div
      class="slider"
      v-for="slider in this.sliders"
      :key="slider.id"
    >
      {{ slider.name }}
      <div>
        <div>
          <div>
            <div class="cursor row">
              <div>-</div>
              <div>
                <input
                  :id="slider.id"
                  type="range"
                  width="150px"
                  :min="slider.min"
                  :max="slider.max"
                  :step="slider.step"
                  class="col"
                  v-model="slider.value"
                  @input="value=$event.target.value"
                  @change="handleChange(slider)"
                />
              </div>
              <div>+</div>
            </div>
            <div class="container-val-reset">
              <div class="input-custom">
                <input
                  type="text"
                  name="value"
                  v-model="slider.value"
                />
              </div>
              <v-btn
                class="reset"
                color="primary"
                @click="handleReset(slider)"
              >Reset</v-btn>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
</template>
<script>
export default {
  name: 'Slider',
  props: [
    'sliders',
    'zone',
    'property'
  ],
  data () {
    return {
      value: ''
    }
  },
  methods: {
    handleChange (slider) {
      const elementToSend = {
        'zone': this.zone,
        'property': this.property,
        'name': slider.name,
        'value': this.value
      }
      return this.$emit('sendToConfig', elementToSend)
    },
    handleReset (slider) {
      slider.value = slider.default_value
      const elementToSend = {
        'zone': this.zone,
        'property': this.property,
        'name': slider.name,
        'value': slider.value
      }
      return this.$emit('sendToConfig', elementToSend)
    }
  }
}
</script>
<style >
.sliders {
  position: absolute;
  left: 225px;
  top: -63px;
  width: 300px;
  background-color: white;
}
.slider {
  border: 1px solid #dcdcdc;
  margin-bottom: 5px;
  padding-bottom: 15px;
}



.cursor {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
}
.cursor input {
  width: 150px;
}
.cursor div {
  margin: 0 5px;
}
*.cursor {
  justify-content: center;
  align-items: center;
}
.input-custom {
  width: 50px;
  height: 36px;
  line-height: 36px;
  box-shadow: 1px 1px 1px grey;
  border-radius: 15%;
}
.input-custom input {
  width: 100%;
  text-align: center;
}
.container-val-reset {
  display: flex;
  justify-content: space-around;
}
</style>
