<template>
  <v-expansion-panels
    v-model="panel2"
    flat
  >
    <v-expansion-panel
      class="submenu-sliders"
      v-for="(sliders, property) in this.shadeCorrectors"
      :key="property"
    >
      <v-expansion-panel-header>{{ property }}</v-expansion-panel-header>
      <v-expansion-panel-content>
        <Slider
          :sliders="sliders"
          :zone="zone"
          :property="property"
          @sendToConfig="valueSended($event)"
        ></Slider>
      </v-expansion-panel-content>
    </v-expansion-panel>
  </v-expansion-panels>

</template>
<script>
import Slider from './Slider'
export default {
  name: 'SliderItems',
  components: {
    Slider
  },
  props: [
    'shadeCorrectors',
    'zone'
  ],
  data () {
    return {
      panel2: false,
      sendToConfig: ''
    }
  },
  methods: {
    valueSended (value) {
      this.$emit('sendToConfig', value)
    }
  }
}
</script>
<style>
.submenu-sliders {
  max-height: 50px;
}
.submenu-sliders button.v-expansion-panel-header {
  background-color: rgba(211, 211, 211, 0.4);
}

.submenu-sliders button.v-expansion-panel-header--active,
.submenu-sliders button.v-expansion-panel-header:hover {
  background-color: rgba(211, 211, 211, 0.6);
}
</style>
